*{
  font-size: 17px;
}
.App {
  width: 100%;
  height: 100%;
  background-color: #eef6ff;
  position: absolute;
  /*设置弹性布局*/
  display: flex;
  /*内容水平居中*/
  justify-content: center;
  /*内容垂直居中*/
  align-items: center;
}
.app_body_style{
/*  width: 400px;
  height: 300px;*/
  display: inline-block;
  /*background-color: #ff675b;*/
}
.form_style{
  background-color: aquamarine;
}
.help_div_style{
  height: 30px;
  /*background-color: brown;*/
}
.input_style{
  margin-left: 10px;
  width: 256px;
  height: 30px;
  padding-left: 10px;
  font-size: 14px;
}
.help_block{
  color: #ff0000;
}
.password_div_style{
  margin-top: 10px;
}
.bottom_div_style{
  margin-top: 14px;
}
.bottom_btn_style{
  width: 100%;
  height: 40px;
  background-color: #1ec0ff;
  border: 0;
}