.table_style{
  /*background-color: #1ec0ff;*/
  margin-left: 50px;
  margin-top: 10px;
  border-collapse: collapse;
}
.h2_style{
  margin-left: 50px;
  margin-top: 20px;
}
.td_style{
  border:1px solid #000000;
  padding: 5px;
  text-align: center;
}